.breadcrumbs,
.breadcrumbs a {
  font-weight: 200;
  color: var(--text-light-gray);
  font-size: 16px;
  text-decoration: none;
}
.breadcrumbs a:hover {
  color: var(--text-gray);
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--line--dark-gray);
}

.listTitle {
  flex: 0.9;
}
.options {
  display: flex;
  gap: 8px;
  font-size: 20px;
  align-items: start;
}
.option input {
  display: none;
}
.option label {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
}
.option input:checked + label {
  background-color: var(--background-gray);
}
.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select select {
  border: 1px solid var(--line--dark-gray);
  border-radius: 4px;
  padding: 2px 4px;
}

.treeListItem {
  padding-left: 16px;
  margin-top: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.taskItem {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
  border-radius: 4px;
  max-width: 100%;
}
.taskItem:hover {
  outline: 1px solid var(--background-dark-gray);
}
.taskItem:focus-within {
  outline: 1px solid black;
}
.taskItem:hover .treeDots {
  display: block;
}
.status {
  accent-color: var(--background-dark-gray);
}
.treeDots {
  display: none;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
}

.textarea {
  width: 100%;
  order: 1;
  margin-top: 6px;
  border-radius: 4px;
  resize: vertical;
  min-width: 300px;
}
.subitem {
  margin-left: 16px;
}
.handleShow {
  position: absolute;
  left: -16px;
  cursor: pointer;
}
.doneTask {
  color: var(--text-light-gray);
  text-decoration: underline;
  text-underline-offset: -35%;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1.5px;
}

.tagItem {
  display: inline-block;
  background-color: var(--background-gray);
  border-radius: 4px;
  color: var(--text-gray);
  padding: 0 8px;
}

.details,
.presetDate {
  color: var(--text-light-gray);
  font-size: 14px;
}
.presetDate {
  border: 1px solid var(--line--dark-gray);
  border-radius: 4px;
  padding: 0 4px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.panels {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}

.hotkeyLabel {
  display: flex;
  gap: 8px;
  align-items: center;
}
.hotkeyCommand {
  background-color: #9096a3;
  color: #fff;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 14px;
}
