.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--line--dark-gray);
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 32px;
  text-decoration: none;
  line-height: 16px;
}
.links a {
  cursor: pointer;
}
.active {
  position: relative;
}
.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--blue-60);
  transform: translateY(12px);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  position: relative;
}
.sort {
  color: var(--text-light-gray);
  display: flex;
  align-items: end;
  cursor: pointer;
}
.button {
  height: 32px;
}

.tooltip {
  position: absolute;

  top: 130%;
  left: -25%;

  background: var(--background-white);
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  text-align: left;
}
