.panel {
  background-color: var(--background-white);
  border: 1px solid var(--line--dark-gray);
  border-radius: 4px;
  padding: 8px 12px;
  min-width: 360px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.panel input[type='checkbox'] {
  accent-color: var(--blue-60);
}
.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid var(--line--dark-gray);
}
.panelHeader svg {
  cursor: pointer;
  font-size: 20px;
}
.panelHeader svg:hover {
  background-color: var(--background-gray);
  border-radius: 4px;
}
