.dialog {
  min-width: 400px;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  z-index: 1;
}
.header {
  font-weight: 700;
  font-size: 20px;
}
.text {
  margin-top: 16px;
}
.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: end;
  gap: 8px;
  height: 24px;
  align-items: stretch;
}
