.tooltip {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--background-white);
  border: 1px solid var(--line--dark-gray);
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0 0 8px var(--background-dark-gray);
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 342px;
}

.tooltipItem {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  padding: 0 2px;
  border-radius: 4px;
}

.tooltipItem:hover {
  background-color: var(--background-dark-gray);
}

.tooltipItem svg {
  color: var(--text-gray);
  font-size: 18px;
}

.tooltipCommandTitle {
  flex: 1;
  margin-left: 4px;
}

.hotkeyCommand {
  background-color: #9096a3;
  color: #fff;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 14px;
}

.presetColorWrapper {
  display: grid;
  grid-template-columns: repeat(3, 72px);
  grid-auto-rows: 24px;
  grid-gap: 8px;
  position: absolute;
  left: 0;
  background-color: var(--background-white);
  border: 1px solid var(--line--dark-gray);
  border-radius: 4px;
  padding: 4px;
  z-index: 1;
}

.presetColor {
  border: 1px solid var(--text-black);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.presetColor:nth-child(2) {
  background-color: var(--red-00);
  color: var(--red-60);
  border-color: var(--var-60);
}
.presetColor:nth-child(3) {
  background-color: var(--orange-00);
  color: var(--orange-60);
  border-color: var(--orange-60);
}
.presetColor:nth-child(4) {
  background-color: var(--yellow-00);
  color: var(--yellow-60);
  border-color: var(--yellow-60);
}
.presetColor:nth-child(5) {
  background-color: var(--green-00);
  color: var(--green-60);
  border-color: var(--green-60);
}
.presetColor:nth-child(6) {
  background-color: var(--blue-00);
  color: var(--blue-60);
  border-color: var(--blue-60);
}
.presetColor:nth-child(7) {
  background-color: var(--purple-00);
  color: var(--purple-60);
  border-color: var(--purple-60);
}
.presetColor:nth-child(8) {
  background-color: var(--background-gray);
  color: var(--text-light-gray);
  border-color: var(--text-light-gray);
}
.presetColor:nth-child(9) {
  background-color: var(--background-white);
  color: var(--background-dark-gray);
  border-color: var(--background-dark-gray);
}

.presetColor:nth-child(1):hover {
  background-color: var(--gray-50);
  color: var(--text-white);
}
.presetColor:nth-child(2):hover {
  background-color: var(--red-50);
  color: var(--text-white);
}
.presetColor:nth-child(3):hover {
  background-color: var(--orange-50);
  color: var(--text-white);
}
.presetColor:nth-child(4):hover {
  background-color: var(--yellow-50);
  color: var(--text-white);
}
.presetColor:nth-child(5):hover {
  background-color: var(--green-50);
  color: var(--text-white);
}
.presetColor:nth-child(6):hover {
  background-color: var(--blue-50);
  color: var(--text-white);
}
.presetColor:nth-child(7):hover {
  background-color: var(--purple-50);
  color: var(--text-white);
}
.presetColor:nth-child(8):hover {
  background-color: var(--text-light-gray);
  color: var(--text-white);
}
.presetColor:nth-child(9):hover {
  background-color: var(--background-dark-gray);
  color: var(--text-white);
}
