@import './assets/styles/colors.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--text-black);
  background-color: var(--background-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  width: 90vw;
  min-width: 320px;
  min-height: 100vh;
}
