:root {
  --background-white: #ffffff;
  --background-gray: #f5f5f5;
  --background-dark-gray: #e8e9eb;

  --line--dark-gray: #e8e9eb;

  --text-black: #000000;
  --text-gray: #555555;
  --text-light-gray: #adadad;

  --text-white: #ffffff;
  --text-white-48: #ffffff7a;
  --text-white-32: #ffffff52;

  --red-00: #ffe9e6;
  --red-50: #ff5a5a;
  --red-60: #ee1133;
  --red-70: #dc3f35;
  --red-80: #ca362e;
  --red-90: #b82d27;
  --red-100: #a62321;

  --orange-00: #ffe0c3;
  --orange-50: #ffa236;
  --orange-60: #ff8227;
  --orange-70: #d46421;
  --orange-80: #bf561e;
  --orange-90: #a9471b;
  --orange-100: #943817;

  --yellow-00: #ffefd4;
  --yellow-50: #ffcc88;
  --yellow-60: #ffbb44;
  --yellow-70: #f0a327;
  --yellow-80: #e78b2d;
  --yellow-90: #d87e31;
  --yellow-100: #cb712f;

  --green-00: #d7f8ae;
  --green-50: #9bdb2d;
  --green-60: #78bf2b;
  --green-70: #5f9c20;
  --green-80: #538a1b;
  --green-90: #477916;
  --green-100: #3a6710;

  --blue-00: #dde6ff;
  --blue-50: #00bbee;
  --blue-60: #0088bb;
  --blue-70: #007799;
  --blue-80: #006688;
  --blue-90: #005577;
  --blue-100: #004466;

  --purple-00: #f7d7ff;
  --purple-50: #c56fda;
  --purple-60: #b750d1;
  --purple-70: #9e43b5;
  --purple-80: #913ca6;
  --purple-90: #843698;
  --purple-100: #782f8a;

  --gray-00: #cfcfcf;
  --gray-50: #ababab;
  --gray-60: #74777b;
  --gray-70: #686868;
  --gray-80: #5e5e5e;
  --gray-90: #555555;
  --gray-100: #4d4d4d;
}
